<ion-view view-title="Cards">
  <!-- <ion-nav-title>
    <div class="padding">
      <img height="30px" src="img/logo.png">
    </div>
    </ion-nav-title> -->
<ion-pane ng-controller="CardsCtrl"  >
  <td-cards>
    <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
          on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
          on-partial-swipe="cardPartialSwipe(amt)">

              <div class="image">
                <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe"><i class="icon ion-thumbsup"></i>Yes</div></div>
                <div class="no-text overlayBox"><div class="noBox boxed" id="centerMe"><i class="icon ion-thumbsdown"></i>No</div></div>
                  <img ng-src="{{card.user.picture.medium}}">

              </div>
              <div class="buttondesc">
                <!-- <div class="username"><i class="icon ion-android-contact"></i> {{card.user.username}}</div> -->
                <button ng-click="noCard($index)" class="button button-assertive">Not so much</button>
                <button ng-click="yesCard($index)" class="button button-royal">Got it!</button>
               </div>
    </td-card>
    
    	<div ng-show="deckEmpty" id="end-card" drag="false">
           	 <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
          </div>
  </td-cards>
</ion-pane>
</ion-view>
