<ion-view view-title="Share"> <ion-content>

<div class="list card">

<div class="list card">

  <div class="item item-avatar">
    <img src="data\img\icon.png">
    <h2>Cloud Pros</h2>
    <p>AWS Certified SysOps</p>
  </div>

  <div class="item item-body">
   <!--  <img class="full-image" src="delorean.jpg"> -->
    <p>
     Thank you for using our app. If you have any questions or feedback about this app or its contents,
     please contact us either by email or through our Facebook page. Drop us a line at cloudpros1@gmail.com or like us on facebook www.facebook.com/awsarchitect. Look up 'The Cloud Institue' on Facebook.
    </p>
    <p>
     <!--  <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a> -->
      Thanks and all the best!
    </p>
  </div>

</div>

</ion-content> </ion-view>
